/* ============================= */
/* CONTACT SECTION */
/* ============================= */

.contact{
  padding:140px 8%;
  text-align:center;
}

/* headings */

.contact h1{
  font-size:28px;
  margin-bottom:10px;
}

.connect{
  font-size:28px;
  margin-bottom:40px;
  color:#38bdf8;
  font-style:italic;
}

/* form container box */

.contact-container{
  max-width:400px;
  margin:auto;
  padding:40px;
  border-radius:16px;
  background:rgba(255,255,255,0.03);
  backdrop-filter:blur(10px);
  border: 1px solid var(--text-secondary);
}

/* form */

form{
  width:100%;
  display:flex;
  flex-direction:column;
  gap:22px;
}

/* inputs */

input,
textarea{
  width:100%;
  padding:16px 18px;
  border-radius:10px;
  border:1px solid var(--border-color);
  background:var(--grid-color);
  backdrop-filter:blur(8px);
  color:white;
  font-size:15px;
  transition:all .25s ease;
}

/* focus */

input:focus,
textarea:focus{
  outline:none;
  border-color:#38bdf8;
  box-shadow:
  0 0 0 1px #38bdf8,
  0 0 15px rgba(56,189,248,0.25);
}

/* textarea */

textarea{
  min-height:180px;
  resize:none;
}

/* button */

button{
  padding:16px;
  border:none;
  border-radius:10px;
  background:linear-gradient(
    90deg,
    #38bdf8,
    #7c3aed
  );

  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:all .3s ease;
}

button:hover{
  transform:translateY(-2px);
  box-shadow:
  0 10px 25px rgba(56,189,248,0.3),
  0 0 20px rgba(124,58,237,0.25);
}

/* status */

.status{
  margin-top:20px;
  color:#38bdf8;
}